{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
	<div class="bg-dark vh-100 d-flex align-items-center justify-content-between px-5 mx-auto">
		<div class="d-flex flex-column gap-3">
			<h1 class="text-center text-light">Bonjour
				{% if app.user %}
					{{ app.user.email }}
				{% endif %}
			</h1>
			<div class="d-flex gap-3">
				{% if is_granted("ROLE_ADMIN") %}
					<a href="{{ path('admin') }}" class="btn btn-lg btn-light text-center">Gestion Admin</a>
				{% endif %}{% if app.user %}
					<a href="{{ path('app_logout') }}" class="btn btn-lg btn-success">Déconnexion</a>
				{% endif %}
		
				
			</div>

		</div>


	</div>


{% endblock %}
